/*FADE IN*/
.fade-in {
	animation: fadeIn 2s;
	-webkit-animation: fadeIn 2s;
	-moz-animation: fadeIn 2s;
	-o-animation: fadeIn 2s;
	-ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*RIGHT AND LEFT SLIDE*/
.slide-right {
	animation: 1.5s slidein-right;
}
.slide-left {
	animation: 1.5s slidein-left;
}

@keyframes slidein-left {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slidein-right {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

/*UP AND DOWN SLIDE*/
.slide-up {
	animation: 1s slidein-up;
}
.slide-down {
	animation: 1s slidein-down;
}

@keyframes slidein-down {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes slidein-up {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}
