@font-face {
	font-family: "Abel";
	src: url(../fonts/Abel.ttf);
}

@font-face {
	font-family: "Josephine";
	src: url(../fonts/Josephine.ttf);
}

@font-face {
	font-family: "Lora";
	src: url(../fonts/Lora.ttf);
}

@font-face {
	font-family: "PlayFair";
	src: url(../fonts/PlayFair.ttf);
}
